.slide {
    max-width: 840px !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    margin-top: 2.5rem !important;
}

.single_card{
    background: radial-gradient(ellipse at bottom right, #d4d7f5, #fff);
    color: rgb(0, 0, 0);
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.card_text_container{
        height: 100%;
    padding: 4rem;
    padding-right: 0;
    padding-left: 4.5rem;
    display: flex;
    font-family: "Glacial Indifference";
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.topics{
    font-family: 'Cirka';
    font-size: 3rem;
}

.img_container{
    background-color: black;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    position: relative;
    height: 100%;
    transform: translateY(-100%) translateX(100%);
    
    .image{
        background-image: url('../images/interview_thumbnail.jpg');
        transform: scale(1.5);
        height: 100%;
        width: 200%;
        position: absolute;
        bottom: 0;
        right: -152px;
        mix-blend-mode: luminosity;
    }
}


.img_container_int{
    transform: translateX(100%) translateX(-100%);
    background-color: black;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    position: relative;
    height: 100%;
    
    .image-one{
        background-image: url('../images/interview_thumbnail.jpg');
        transform: scale(1.5);
        height: 100%;
        width: 200%;
        position: absolute;
        bottom: 0;
        right: -152px;
        mix-blend-mode: luminosity;
    }
}

// .three{
//     background-image: url('../images/api_thumbnail.jpg') !important;
// }
// .four{
//     background-image: url('../images/bots_thumbnail.jpg') !important;
// }